<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
</head>

<body>
    <a href="/">
        <h1>Hello World!</h1>
    </a>
    {% for blog in blogs %}
    <div style="padding: 10px; background-color: #EEE; margin: 20px">

        <img src="{{ blog.cover }}" alt="{{ blog.title }}"
            style="width: 100px; height: 100px; float: left; margin-right: 10px;">

        <a href="/blog/{{ blog.id }}">
            <h2>{{ blog.title }}</h2>
        </a>
        <div>
            {% for tag in blog.tag %}
            <a href="/label/{{tag}}" style="padding: 10px;">
                <span>
                    {{ tag }}
                </span>
            </a>
            {% endfor %}
        </div>
        <p>{{ blog.content }}</p>


    </div>
    {% endfor %}
</body>

</html>